apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Values.namespace }}
  labels:
{{ include "mattermost.labels" . | indent 4 }}
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.db | quote }}
  POSTGRES_USER: {{ .Values.postgres.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.password | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: mattermost-config
  namespace: {{ .Values.namespace }}
  labels:
{{ include "mattermost.labels" . | indent 4 }}
type: Opaque
stringData:
  MM_SQLSETTINGS_DRIVERNAME: postgres
  MM_SQLSETTINGS_DATASOURCE: {{ printf "postgres://%s:%s@%s:%d/%s?sslmode=%s&connect_timeout=10" (urlquery .Values.postgres.user) (urlquery .Values.postgres.password) (ternary "postgres" .Values.postgres.host .Values.postgres.enabled) (int .Values.postgres.port) .Values.postgres.db .Values.postgres.sslmode | quote }}
  MM_CACHESSETTINGS_REDISADDRESS: {{ printf "%s:%d" (ternary "redis" .Values.redis.host .Values.redis.enabled) (int .Values.redis.port) | quote }}
  MM_CACHESSETTINGS_REDISPASSWORD: {{ .Values.redis.password | quote }}
  MM_SERVICESETTINGS_SITEURL: {{ .Values.mattermost.siteUrl | quote }}
  MM_SERVICESETTINGS_ENABLELOCALMODE: "false"
  MM_FILESETTINGS_DRIVERNAME: {{ .Values.filestore.driver | quote }}
  MM_FILESETTINGS_AMAZONS3BUCKET: {{ .Values.filestore.s3.bucket | quote }}
  MM_FILESETTINGS_AMAZONS3REGION: {{ .Values.filestore.s3.region | quote }}
{{- if .Values.filestore.s3.endpoint }}
  MM_FILESETTINGS_AMAZONS3ENDPOINT: {{ .Values.filestore.s3.endpoint | quote }}
{{- end }}
  MM_FILESETTINGS_AMAZONS3SSL: {{ .Values.filestore.s3.ssl | quote }}
