{{- if .Values.pdb.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: mattermost
  namespace: {{ .Values.namespace }}
  labels:
{{ include "mattermost.labels" . | indent 4 }}
spec:
  minAvailable: {{ .Values.pdb.minAvailable }}
  selector:
    matchLabels:
      app: mattermost
{{- end }}
