{{- if .Values.efs.enabled }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.efs.storageClassName }}
provisioner: efs.csi.aws.com
parameters:
  provisioningMode: efs-ap
  fileSystemId: {{ .Values.efs.fileSystemId }}
  basePath: {{ .Values.efs.basePath | quote }}
  directoryPerms: {{ .Values.efs.directoryPerms | quote }}
  gidRangeStart: {{ .Values.efs.gidRangeStart | quote }}
  gidRangeEnd: {{ .Values.efs.gidRangeEnd | quote }}
reclaimPolicy: Retain
volumeBindingMode: Immediate
{{- end }}
